<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Jeu du serpent</title>
</head>

<body>

    <h1>Jeu du serpent: </h1>

    <canvas id="canvas" width="600" height="350"  ></canvas>
    </canvas>
    
    

    
    <!-- 
        doc: j'utilise le type "module" car game.js utilise la syntaxe import(?) 
        donc est considérée comme un module
    -->
    <script type="module" src="game.js" ></script>

   

</body>

</html>